<style>
	.Slider
	{
		$color: white;

		position: relative;
		width: 100%; height: 0;
		overflow: hidden;

		> .slides
		{
			position: absolute;
			top: 0; left: 0; bottom: 0; right: 0;

			> .slide
			{
				position: absolute;
				top: 100%; left: 0; width: 100%; height: 100%;
				display: none; opacity: 0;

				&.active
				{
					display: block;
					opacity: 1; top: 0;
					transition: opacity 350ms ease-in-out 150ms, top 1ms ease-in-out 15ms;
				}
				&.hidden
				{
					opacity: 0;
					transition: opacity 350ms ease-in-out, top 1ms ease-in-out 365ms;
				}

				> img
				{
					width: 100%; height: 100%;
					max-width: 100%; max-height: 100%;
				}
			}
		}

		> .arrow
		{
			position: absolute;
			top: 0; width: 15%; height: 100%;
			opacity: 0.5;

			&:after{ position:absolute; content: attr(data-arrow); font-size: 3vw; line-height: 4vw; color: $color; top: 50%; margin-top: -2vw; }

			&.prev
			{
				left: 0;
				background-image: linear-gradient(to right,rgba(0,0,0,.5) 0,rgba(0,0,0,.0001) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
				background-repeat: repeat-x;

				&:after{ left: 20%; }
			}
			&.next
			{
				right: 0;
				background-image: linear-gradient(to right,rgba(0,0,0,.0001) 0,rgba(0,0,0,.5) 100%);
				filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#00000000', endColorstr='#00000000', GradientType=1);
				background-repeat: repeat-x;

				&:after{ right: 20%; }
			}

			&:hover{ opacity: 0.9; }
		}

		> .dots
		{
			> .dot
			{

			}
		}
	}
</style>
<script>
	window.Slider = function( element )
	{
		var slider = element.slider = this;

		this.show = function( index )
		{
			if( index === '+' ){ this.active = ( this.active + 1 ) % element.querySelectorAll('.slide').length }
			else if( index === '-' ){ this.active = ( this.active > 0 ? this.active - 1 : element.querySelectorAll('.slide').length - 1 ); }
			else{ this.active = parseInt( index ); }

			var hidden = element.querySelector('.slide.active');
			var active = element.querySelector('.slide:nth-child('+(this.active+1)+')');

			active.style.display = 'block';
			if( hidden ){ hidden.className = 'slide hidden'; }

			setTimeout( function()
			{
				active.className = 'slide active';
			},
			30);

			clearTimeout( this.timer );
			this.timer = setTimeout( function(){ requestAnimationFrame( slider.show.bind( slider, '+' )); }, 3000 );
		}

		this.active = 0;
		this.timer = setTimeout( function(){ requestAnimationFrame( slider.show.bind( slider, '+' )); }, 3000 );

		element.querySelector('.slide').className = 'slide active';
	}
</script>
<div id={id} class="Slider" style={'padding-top:'+ratio*100+'%'}>
	<div class="slides">
		for( slide of slides )
		{
			<a class="slide" title={slide.title} href={slide.url}><img src={slide.img} alt={slide.title} /></a>
		}
	</div>
	<div class="arrow next" data-arrow="&#10095;" onclick="this.parentNode.slider.show('+');"></div>
	<div class="arrow prev" data-arrow="&#10094;" onclick="this.parentNode.slider.show('-');"></div>
	<div class="dots">
		for( slide of slides )
		{
			<div class="dot" onclick="this.parentNode.parentNode.slider.show(i);"></div>
		}
	</div>
</div>
<script instance id={id}>
	new window.Slider( document.getElementById( id ));
</script>
