<style>
	#footer{ background:red; }
</style>
<script>
	console.log('toto je footer');
</script>
<div style={'color:'+color} onclick={'alert("test! <br/>");'}>Toto je "Footer" {'<div>'+page.toLowerCase()+'</div>'}</div>
