<!DOCTYPE html super fasa>
<html>
	<head>
		<meta charset="utf-8"/>
		if( Math.random() > 0.5 )
		{
			<style require="/styles/test.style">body{background:white;color:#333;}</style>
		}
		<script template={template} instance>
			console.log( template );
		</script>
	</head>
	<body>

		let x = 31231231 + 23 * ( 11 / 4 );

		x = 2 * x;

		{x}

		$( 'hello.world', { date: '"'+(new Date().getTime())+'"' })
		if( 1 > 3 )
		{
			<div>Prvy</div>
		}
		else if( 32 > 3 )
		{
			<div>{ Math.random() }</div>
		}
		else
		{
			<div>Treti</div>
		}
		<List items={items} />
		<{template} page="Ferko" color="blue" />
		Marianko panko
	</body>
</html>
