<html>
	<head>
		<meta charset="utf-8"/>
		<style>body{background:white;color:#333;}</style>
		<script template={template} instance>
			console.log( template );
		</script>
	</head>
	<body>
		<List items={items} />
		<{template} page="Ferko" color="blue" />
		Marianko panko
	</body>
</html>
